/* Resetování stylů */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Obecné nastavení */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    text-align: center;
    color: #444;
    margin: 20px 0;
}

p {
    margin: 10px 20px;
    text-align: justify;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Obrázek */
img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

/* Navigace */
nav {
    background-color: #827474;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 100px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px 0;
    display: block;
}

/* Responzivní design */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        margin: 10px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 20px;
    }

    nav a {
        padding: 8px 10px;
    }
}
